<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>电子书限免集合</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>
        #container h3 {
            margin-left: 15px;;
        }

        .center {
            margin-left: 80px;
        }

        #container a.thumbnail {
            text-decoration: none;
        }

    </style>
</head>
<body>
{% for remark in remarks %}
<div class="alert alert-success" role="alert">
    <span class="alert-link">注意：{{ remark }}</span>
</div>
{% endfor %}
<div id="container" style="margin: 10px auto; width: 1000px; float:left;">
    {% for platform in platforms %}
    <div id="box_{{ platform }}">

    </div>
    {% endfor %}
</div>
<script>
    $(document).ready(function () {
        $container = $('#container');
        $.get('/platforms', function(res){
            var platforms = JSON.parse(res);
            $.each(platforms, function(key, site){
                $.get("/p/" + site, function (data) {
                    books = data.books;
                    var length = books.length;
                    $box = $container.find('#box_' + site);
                    for (i=0; i < length; i++) {
                        $template = $('<div class="col-xs-6 col-md-3"><h4 class="center"></h4><a href="" target="_blank" class="thumbnail"><img src="" alt="" style="width:150px; height: 150px;"/><span></span></a></div>');
                        book = books[i];
                        $template.find('h4').html(data.config.platform_name);
                        $template.find('a').attr({'href': book.href});
                        $template.find('span').html(book.title);
                        $template.find('img').attr({'src': book.img});
                        $box.append($template);
                    }

            });
            });
        });
        });
</script>
</body>
</html>