<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>电子书限免集合</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
{% for platform in platforms %}
<div>
    {{ platform['config']['platform_name'] }}
    {% for book in platform['books'] %}
    <div class="col-lg-4">
        <img src="{{ book.img }}" alt="{{ book.title }}" style="width:150px; height: 150px;"/>

        <h3><a href="{{ book.href }}" target="_blank">{{ book.title }}</a></h3>
    </div>
    {% endfor %}
</div>
<hr/>
{% endfor %}
</body>
</html>