<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>电子书限免集合</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>
        #container h3 {
            margin-left: 15px;;
        }
    </style>
</head>
<body>
{% for remark in remarks %}
<div class="alert alert-success" role="alert">
    <span class="alert-link">注意：{{ remark }}</span>
</div>
{% endfor %}
{% for platform in platforms %}
<div id="container" style="margin: 10px auto; width: 1000px; float:left;">
    <h3>{{ platform['config']['platform_name'] }}</h3>
    {% for book in platform['books'] %}
    <div class="col-xs-6 col-md-3">
        <a href="{{ book.href }}" target="_blank" class="thumbnail">
            <img src="{{ book.img }}" alt="{{ book.title }}" style="width:150px; height: 150px;"/>
            <h5>{{ book.title }}</h5>
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}
</body>
</html>